.summary-block__route {
  z-index: 1;
  width: 400px;
  margin: 10px;

  .route__airport {
    font-size: 16px;
    font-weight: bold;
  }

  .route__date {
    margin-bottom: 0;
    font-size: 14px;
    color: rgba(0, 0, 0, .45);
  }

  .route__price {
    margin-top: 1em;
    font-size: 16px;
    font-weight: bold;
  }
}

.summary-block__total {
  z-index: 1;
  width: 400px;
  margin: 10px;

  .total__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .total__price {
      font-size: 20px;
      font-weight: bold;
    }
  }
}