.cities-list-container {
  position: relative;
  z-index: 1;
  margin: 5px;
  width: 340px;
}

.cities-list-element {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 5px;
  border-radius: 10px;
  box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.25);
  background-color: #fff;
  padding: 20px;
  font-family: "Open Sans", sans-serif;

  &__airport-code {
    font-size: 22px;
    font-weight: 400;
    color: #607d8b;
  }

  &__city {
    font-size: 13px;
    color: #000;
  }

  &__airport-information:last-child &__airport-code,
  &__airport-information:last-child &__city {
    text-align: right;
  }
}
